<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Chicken Biriyani </h1>
        <h1>Biryani is an Emotion </h1>

        <a href="{% url 'food:gulabjamun' %}"><h1>Have Gulabjamun</h1></a>
        <a href="{% url 'drinks:dewars' %}"><h1>Get dewars</h1></a>
        <a href="{% url 'drinks:teachers' %}"><h1>Get teachers</h1></a>
    </center>
</body>
</html>