<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Dewars..</h1>
        <h1>In addtion to Devwars what you want..? </h1>
        <a href="{% url 'food:biriyani' %}"><h1>Get Biryani</h1></a>
        <a href="{% url 'food:gulabjamun' %}"><h1>Get Gulabjamun</h1></a>
        <a href="{% url 'drinks:teachers' %}"><h1>Get teachers</h1></a>
    </center>
</body>
</html>